<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">EventDark</h1>
    <p class="lead">Bienvenue sur EventDark, pour ceux qui adorent les plans obscurs dans les ruelles mal éclairées.</p>
  </div>
</div>